*{
    
   padding: 0;
   margin: 0;
    text-align: center;
    
}

#contact
{
    padding: 0;
    margin: 0;
    background-color: rgb(251, 199, 147);
    height: 150px;
    width: 1300px;
    
}

#certif
{
    padding: 0;
    margin: 0;
    color: #a8500b;
    height: 200px;
    width: 1300px;
    font-size: 18px;
}

#cv
{
    font-size: 30px;
   text-shadow: #a8500b;
}

#projects
{
    font-size: 30px;
}